# Stored Procedure

When we need to write some same query again & again then we can use procedure
Here you save these repeated query as a stored procedure and call it by name

It's similar kind of function.


1) Use **CREATE PROCEDURE PROCEDURE_NAME** or **CREATE PROC PROCEDURE_NAME** statement to create the sp

2) To execute the stored procedure---- **EXECUTE PROCEDURE_NAME**


SQL Right side=> Stored Procedure(Right click and create procedure there):

CREATE PROCEDURE `spgetData`()
BEGIN
select Name, Gender from tblEmployee;
END



then call this in sql query tool:

spgetData()

In [1]:
# Creating another sp:

create procedure 'sp_getData'()
Begin
select id, Name from tblemployee;
End


# Call
sp_getData()

SyntaxError: invalid syntax (<ipython-input-1-ba6562cbe05f>, line 3)

In [ ]:
# Creating with default condition:

create procedure getData()
Begin

select * from tblEmployee where id =2;

End


#Call the procedure
call getEmpInfo();

In [ ]:
# Create With parameter

[IN | OUT | INOUT] parameter_name datatype[(length)]

First, specify the parameter mode, which can be IN , OUT or INOUT depending on the purpose of the parameter in the stored procedure.

Second, specify the name of the parameter. The parameter name must follow the naming rules of the column name in MySQL.

Third, specify the data type and maximum length of the parameter.

In [ ]:
#In- Bcoz we want to take input of some values


create procedure 'getData' (in id int)
Begin
select * from employee.id=id;
End

#Call the procedure
call getEmpInfo2(2)

In [ ]:
# out-  Now we want to return some values

create procedure 'getData'(out records int)
Begin

select count(*) into records from tblEmployee where tblEmployee= 1;

End




#Call procedure
#Give output like the
call getData(@records)
select @records as Total_records

In [ ]:
# Now using in and out in one procedure

CREATE PROCEDURE `getData`(in id int, out records int)
BEGIN

select count(*) into records from tblEmployee where tblEmployee.deapartment= id;

END



#Calling procedure

call getEmpInfo4(1, @records);
select @records as Total_records