# Trigger


Trigers are the SQL codes that are automatically executed in response to any certain events on a particular table.
These are used to maintain the integrity of data.


**Exp-**
Let's say multiple new_joineers are coming in a team so manager wants to send a Welcome_Mail to all of them.
As these joiners are multiple so we can use a triger here like whenever any new record inserted in a table so one mail will sent to him automatically.


Triggers are store procedure/program, which are automatically executed when some event occurs

Event can be any of the following:
 DML
 DDL
 Data base operation-(Logon Logoff Startup Startdown)








**Syntax-**

Create(or replace) Trigger Trigger_Name
[Before | After]
[Insert | Update | Delete]
on [Table_Name]
[for each row | for each column]
Declare                        (Declare part is optional)
Declaration-Statment    

Begin
Executable Statement
End


Create Trigger Trigger_name
After|Before
Insert|Delete|Update
on Tbl_name
for each row| For each Coulm




#### Example

Ignore as of now and come to next row

create trigger salary_diff
before
insert or update or delete
on emp
for each row

declare
salary_diff number;

Begin

salary_diff :=:new.salary -:old.salary;
dbms_output.put_line('Old salary:' || :old.salary);
dbms_output.put_line('New Salary:' || :new.salary);
dbms_output.put_line('Salary Diff:' || :salary_diff);

End









**Example-**

Create Trigger sample_trigger
before Insert
on Student
For Each Row
Set new.marks= new.marks+5;

In [ ]:
# Come here

## Before Insert

Open SQL Normally
then to stop previos queries completely use delimiter
delimiter //          ======> So now all previous queries are stopped

Let's start writing the trigger now

# We creating a trigger to check the salary if salary is greater than 80K then assign 75k automatically

delimiter//

Create Trigger Salary_Verify
Before 
Insert
on Employee
for each row
if new.salary>800000 then set new.salary=75;
end if; //

In [ ]:
#Run Query

delimiter //
Create Trigger salary_verify
before insert on employee
for each row
if new.salary>800000 then set new.salary= 75;
end if;//

In [ ]:
## After Insert

Here we need two tables
customer1 
msg1

If you don't enter dob in customer table trigger will fire to enter dob


# Let's create a new table
Create table customer1(
id int auto_increment primary key,
name varchar(40) not null,
email varchar(40),
birthdate date
)